<div class="calculator">
  <h1>{{ title }}</h1>
  <div class="display">
    <h2>{{ display }}</h2>
  </div>
  <div class="buttons">
    <div class="row">
      <button (click)="enterDigit('1')">1</button>
      <button (click)="enterDigit('2')">2</button>
      <button (click)="enterDigit('3')">3</button>
      <button (click)="calculate()">=</button>
    </div>
    <div class="row">
      <button (click)="enterDigit('4')">4</button>
      <button (click)="enterDigit('5')">5</button>
      <button (click)="enterDigit('6')">6</button>
      <button (click)="setOperation('+')">+</button>
    </div>
    <div class="row">
      <button (click)="enterDigit('7')">7</button>
      <button (click)="enterDigit('8')">8</button>
      <button (click)="enterDigit('9')">9</button>
      <button (click)="setOperation('-')">-</button>
    </div>
    <div class="row">
      <button (click)="setOperation('*')">*</button>
      <button (click)="setOperation('/')">/</button>
      <button (click)="reset()">R</button>
    </div>
  </div>
</div>
